@font-face {
    font-family: RobotoItalic;
    src: url(../fonts/Roboto-Italic.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: LexendPeta;
    font-size: 16px;
    background: #363636;
    color:#fff;
}

ul,
a {
    text-decoration: none;
    list-style-type: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.section{
    padding: 10px 0;
    &-title{
        text-align: center;
        position: relative;
        font-size: 25px;
        // &::after{
        //     content: '';
        //     position: absolute;
        //     width: 10px;
        //     height: 10px;
        //     border-radius:50%;
        //     background: #000;
        //     top: 30%;
        //     left: 38%;
        // }
        // &::before{
        //     content: '';
        //     position: absolute;
        //     width: 10px;
        //     height: 10px;
        //     border-radius:50%;
        //     background: #000;
        //     top: 30%;
        //     right: 38%;
        // }
    }
}

.img{
    &-logo{
        max-width: 80px;
        margin-left: 10px;
    }
}

.logo{
    &-link{
        color: #fff;
    }
    &-text{
        font-size: 18px;
        margin-top: -10px;
        
    }
}

.btn{
    padding: 5px 10px;
    color:rgb(0, 0, 0);
    border-radius:5%;
    &-login{
        background: rgb(154, 252, 135);
    }
    &-reg{
        background: rgb(245, 118, 118);
    }
}

.logo{
    &-link{
        font-size: 24px;
    }
}

input{
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    margin: 0; 
    border:none;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus{
        background-color: #fff;
        border-color: #000000;
        outline: 0;
    }
}

input[type="submit"]{
    padding: 10px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #000;
    transition: .3s;

}