.hero{
    &-block{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &-item{
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 25px;
        &-img{
            cursor: pointer;
            margin-bottom: 15px;
        }
    }
    &-img{
        max-width: 450px;
        max-height: 320px;
    }
}